.App {
  text-align: center;
  background: #242f51;
  position: relative;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.sticky-title {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 200;
  min-height: 2.5rem;
  background-color: #242f51;
  border-bottom: 1px solid #a8b2d1;
  font-size: 1.1rem;
  text-align: left;
  align-items: center;
  display: flex;
  padding-left: 15vw;
  flex-wrap: wrap;
  color: white;
  gap: 15px;
}

.sticky-title > * {
  font-size: 1.1rem;

}

.noselect {
  /* pointer-events:visible; */
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.contact-container {
  width: clamp(50vw,3vw,100vw);
  height:clamp(50vw,3vw,100vw);
border: white solid 3px;
  border-radius: 50%;
  /* background-color: red; */
  margin: auto;
  overflow: hidden;
  position: relative;
}

@keyframes vibrate {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
